%h2
  Job Categories
%table.table.table-striped
  %thead
    %tr
      %th
        name
      %th
        rank
  %tbody
    - @job_categories.each do |job_category|
      %tr
        %td
          = link_to job_category.name, job_category
        %td
          = job_category.rank
= link_to 'create job_category', new_job_category_path, class: 'btn btn-primary'