- content_for :title do
  Resume Entries
%table.table.table-striped
  %thead
    %tr
      %th name
      %th rank
  %tbody
    - @resume_entries.each do |resume_entry|
      %tr
        %td= link_to resume_entry.name, [resume_entry.resume_category, resume_entry]
        %td= resume_entry.rank
.btn-group.pull-left.clearfix
  = link_to 'create resume entry', new_resume_entry_path, class: 'btn btn-primary'
  = link_to 'back', resume_path, class: 'btn'