.category-item
  = link_to category_item do
    %p.category-item-title= category_item.name
    %center.category-image
      - if category_item.pictures.present?
        = image_tag category_item.pictures.first.image.url :gallery
    = markdown category_item.blurb