- content_for :browser do
  \/dev/boone
- content_for :title do
  Slash dev Slash Boone
.main-banner= image_tag 'davis_death_star.jpg'
- if current_user.try :admin?
  %p.clearfix= link_to 'create post', new_post_path, class: 'btn pull-right'
= render @posts
.text-center= paginate @posts, theme: 'twitter-bootstrap'