- content_for :browser do
  \/dev/boone/resume
- content_for :address do
  = render @addresses
  - if current_user.try :admin?
    = link_to 'manage addresses', addresses_path, class: 'btn btn-small'
= render @resume_categories